%h3= t('hurricane.views.commons.list_title',:type => t('role'))
= link_to t('hurricane.btn.create'), new_role_path 
&nbsp;
= link_to t('huricane.btn.delete'), roles_path+'/delete/all',:method => :delete,:data => {:confirm => t('hurricane.notice.confirm_deletes')},:id => "delete-all-link"
%br
%br
= paginate @roles
%form{:id => "tbl-form"}
  %table.table.table-hover
    %thead
      %tr
        %th 
          %input{:type=>"checkbox",:id=>"check-all","data-targets" =>"roles"}
        %th= t 'hurricane.views.roles.name'
        %th= t 'hurricane.views.roles.key'
        %th= t 'hurricane.views.roles.desc'
        %th
        %th
    %tbody
    - @roles.each do |role|
      %tr
        %td
          %input{:type => "checkbox", :name => "roles[]", :value => role.id}
        %td= role.name
        %td= role.key
        %td= role.desc
        %td
          = link_to edit_role_path(role) do 
            %li.icon-edit{:title => t('hurricane.btn.edit')}
        %td
          = link_to role, :method => :delete, :data => {:confirm => t('hurricane.notice.confirm_delete')} do
            %li.icon-trash{:title => t('hurricane.btn.delete')}

= paginate @roles
